.numeric-field-wrapper {
    border-radius: 5px;
    border: solid 1px #dbdbdb;
}
.elin-btn-minus {
    color: #c85a63;

}
button{
background-color: white;
border: none !important;
}
.count {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #dbdbdb;
    margin-right: 8px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}
.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: none;
}
.font-size-icon {
    font-size: 12px;
    cursor: pointer;
}
